.gantt-chart {
  position: relative;
  padding:10px;
  width: calc(100% - 50px);
  height: calc(100dvh - 100px);
  margin: 0 auto;

  .gantt_container {
    border-radius: 10px;
    box-shadow: 0 0 7px -2px #ccc;

  }

  .parent-task {
    background-color: #00910080;
    border: 1px solid;

    .gantt_task_content {
      color: black
    }
  }

}